@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/img/img-1.png');" id="log"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3><strong>Sistema de manejo presupuestal</strong></h3>
            <p class="mb-4">En esta aplicación podrás manejar tus finanzas</p>
            <form action="#" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group first ">
                <label asp-for="Email" class="form-label">Usuario</label>
                <input type="text" asp-for="Email" class="form-control border" placeholder="your-email@gmail.com" >
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
              <div class="form-group last mb-3 mt-2">
                <label asp-for="Password" class="form-label">Contraseña</label>
                <input type="password" asp-for="Password" class="form-control border" placeholder="Your Password">
              </div>
              
            
                    
              <input type="submit" value="Iniciar Sesión" class="btn btn-block btn-primary">
              <a class="btn btn-success" asp-action="Registro" style="color: #fff; text-decoration: none; text-align: center;">Crear cuenta</a>            
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}